<!DOCTYPE html>
{% extends "base_template.html" %}

{% block title %}Profile - Unbugger{% endblock title %}

{% block top-nav %}
{% with "profile" as whichactive %}
    {% include "topnav_template.html" with active=whichactive %}
{% endwith %}
{% endblock top-nav %}

{% block content %}
{% load staticfiles %}
{% for error in errors %}
    <h1>{{error}}</h1>
{% endfor %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="display: inline-block;">{{profileuser.user.username}}'s profile</h1>
            {% if appuser %}
            {% ifequal profileuser.user.username appuser.user.username %}
            <form action = "/eprofile"  style="float:right;">
            <button type="submit" class="btn btn-lg btn-default">Edit Profile</button>
            </form>
            {% else %}
            <form action = "/follow_user"  style="float:right;">
            <input type="hidden" name="target_id" value="{{profileuser.user.id}}"> 
            <button type="submit" class="btn btn-lg btn-default">Follow</button>
            </form>
            {% endifequal %}
            {% endif %}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                {% if profileuser.picture %}
                <img style="width:100%;" src="{{profileuser.picture.url}}"> 
                {% else %}
                <img style="width:100%;" src="{% static "images/profile.jpg" %}"> 
                {% endif %}
            </div>
            
            <div class="col-sm-4">
                <form method="post" action="/change_password">
                <input name="old_password" type="password"class="form-control"
                placeholder="Password">
                <input name="password1"
                type="password"class="form-control"placeholder="New Password">
                <input name="password2"
                type="password"class="form-control"placeholder="Confirm Password">
                <button type="submit">Save Changes</button>
                {% csrf_token %}
                </form>
            </div>
        </div>
        <!--
        <h2>Recent responses:</h2>
        <div class="request-response list-group" style="border: 1px solid grey; padding: 2em;">
            <a href="view_request"><h1 style="display: inline; margin-top: 0px; font-weight: bold;">@Need help with things</h1></a>
            <br /><br />
            <div style="border: 1px solid grey; padding: 2em;">
            <p>You should do this.</p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Attached files</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                        <li>filebad.c</li>
                        </ul>
                    </div>
                </div>
                <div class="request-header" style="margin-top: 0px;">
                    <div style="display: inline-block; float: right;">
                        <div style="text-align: right;">Posted by Bob at 7:00:00 PM <b>(-9999)</b></div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
{% endblock content %}
