
<li>
    <form action="/" method="get" style="text-align: left;">
        <input type="text" class="form-control" name="search" placeholder="Search">
        <input type="hidden" name="sort" value="search"/>
        <div style="margin-left: 0.5em;">
            <input type="checkbox" name="tag"> Search by tag </input><br /> 
            <input type="checkbox" name="username"> Search by user </input><br />
            <input type="checkbox" name="followed"> Search only followed users </input>
        </div>
    </form>
</li>