{% extends "base_template.html" %}

{% block title %}Set a new password - Unbugger{% endblock %}

{% block content %}
<div style="text-align: center;">
    {% if validlink %}
        <p><h1>Please enter your new password twice!</h1><br />
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            
            {{ form.new_password1.errors }}<br />
            Enter a new password: 
            {{ form.new_password1 }}<br />
            {{ form.new_password2.errors }}<br />
            Confirm password: 
            {{ form.new_password2 }}<br /><br />
            
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <h1>Could not reset your password :(</h1>
        <p>The password reset link was invalid.</p>
    {% endif %}

</div>
{% endblock %}
